spring:
  application:
    name: stepin-job-opening-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5434/job_db}
    username: ${SPRING_DATASOURCE_USERNAME:stepin}
    password: ${SPRING_DATASOURCE_PASSWORD:stepin}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081

campaign-service:
  base-url: http://localhost:8082

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
