spring:
  application:
    name: stepin-job-opening-service

server:
  port: 8081

campaign-service:
  base-url: http://localhost:8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
